<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>View Obat</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar (brand='SIBAT')"></nav>
		<div class="container-fluid col-sm-4">
		<h2 th:text="'Obat ' + ${nama} + ' dengan kode' + ${kodeObat} + ' berhasil ditambahkan'"></h2>
		<a th:href="@{/}">Kembali ke Beranda</a>
		</div>
	</body>
</html>