<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>View Obat</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar (brand='SIBAT')"></nav>
		<div class="col-sm-3"></div>
		<div class="container-fluid col-sm-6" style= "border-style:ridge; margin-top: 20px; padding-bottom: 10px;">
			<h2 style="background-color:lightseagreen; ; margin-top: 10px; margin-bottom: 0%; padding: 10px; color: white;">Detail Data Obat</h2>
			<div class="row">
				<div class="col-sm-6">Kode</div>
				<div class="col-sm-6">
					<td th:text="${obat.kodeObat}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Nama</div>
				<div class="col-sm-6">
					<td th:text="${obat.namaObat}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Nomor Registrasi</div>
				<div class="col-sm-6">
					<td th:text="${obat.nomorRegistrasi}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Bentuk</div>
				<div class="col-sm-6">
					<td th:text="${obat.bentukObat}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Tanggal Terbit</div>
				<div class="col-sm-6">
					<td th:text="${#dates.format(obat.tanggalTerbit, 'yyyy-MM-dd')}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Harga</div>
				<div class="col-sm-6">
					<td th:text="'Rp ' + ${obat.hargaObat.intValue()}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Jenis Obat</div>
				<div class="col-sm-6">
					<td th:text="${obat.jenisObat.getNamaJenis()}"></td>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Gudang Tempat Disimpan</div>
				<div class="col-sm-6">
					<ul th:each="gudang, iterationStatus : ${obat.listGudang}">
					<li th:text="${gudang.getNamaGudang()}"></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">Supplier</div>
				<div class="col-sm-6">
					<ul th:each="supplier, iterationStatus : ${obat.listSupplier}">
					<li th:text="${supplier.getNamaSupplier()}"></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-3"></div>
	</body>
</html>