<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Daftar Obat</title>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar (brand='View All Obat')"></nav>
		<div class="container-fluid">
			<table class="table">
				<thead>
					<tr>
						<th>No</th>
						<th>Kode</th>
						<th>Nama</th>
						<th>Harga</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="obat, iterationStatus : ${obatList}">
						<td th:text="${iterationStatus.count}"> </td>
						<td th:text="${obat.kodeObat}"> </td>
						<td th:text="${obat.namaObat}"> </td>
						<td th:text="'Rp ' + ${obat.hargaObat}"></td>
						<td>
							<button type="submit" class="btn btn-sm" style="background-color: lightseagreen; color: white;">Lihat</button>
							<button type="submit" class="btn btn-sm" style="background-color: black;  color: white;">Ubah</button>
							<button type="submit" class="btn btn-sm btn-danger">Hapus</button>
						</td>
					</tr>
				</tbody>
			</table>
		<br>
			<button th:action="@{#}" class="btn btn-sm btn-primary" style="background-color: black; border-color: black; float: right;">
				Tambah Obat
			</button>
		</div>
	</body>
</html>